
// Colours
$color-black: #121212; // Dark grey
$color-primary: #3F3D56; // Dark blue
$color-blue: #6A8F94; // Blue
$color-accent: #2E868C; // Light blue
$color-grey-light: #cacaca; // Light gray
$color-grey-lighter: #e6e6e6; // Lighter gray
$color-grey-lightest: #f2f2f2; // Lightest gray
$color-white: #f8f8ff; // Ghostwhite